	header {
	  padding: 20px;
	  margin: 0 auto;
	  text-align: center;
	  font-size: 20px;
	  transition: background-color 0.3s ease; 
	}

	header:hover {
	  background-color: lightgray; 
	}

	
	
	body {
      font-family: Arial, sans-serif;
	  background-image: url('nature_background.jpg'); 
	  background-size: cover; 
	  background-repeat: no-repeat; 
	  padding: 20px;
	  margin: 0 auto;
	  text-align: center;
	  
    }
	
	#MAIN {
	text-align: center;
	color: white;
	}
	
	#MAIN table {
	  padding: 10px;
	  margin: 0 auto;		
	text-align: center;
	color: white;	
	}
		
	
	#MAIN img[name="banner1"] {
	height: 400;
	width: 800;
	text-align: center;
	margin: auto; 
	display: block; 	
	}
	
	#MAIN table td {
  position: relative; 
}

#MAIN table td .bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  color: white;
  text-align: center;
}